openapi: 3.2.0
info:
  title: Hebrew University of Jerusalem Shnaton Course Catalog…
  version: '2027'
  summary: Public, unauthenticated JSON API behind the Hebrew University of Jerusalem's Shnaton course catalog.
  description: The read API that serves shnaton.huji.ac.il, the Hebrew University of Jerusalem's official course catalog ("Shnaton" / שנתון).
  contact:
    name: Hebrew University of Jerusalem — Shnaton course catalog
    url: https://shnaton.huji.ac.il/
  termsOfService: https://en.huji.ac.il/en/accessibility-statement
  x-operator: institution
  x-operator-basis: 'shnaton.huji.ac.il CNAME -> orb-bif5.cc.huji.ac.il -> 128.139.7.32; RIPE inetnum 128.139.0.0/16 "ILAN", registrant ORG-IIIC1-RIPE (IUCC - Israel InterUniversity Computation Center), announced by AS378 MACHBA-AS; TLS subject O=The Hebrew University of Jerusalem, CN=*.huji.ac.il, issuer GEANT TLS RSA 1 (Hellenic Academic and Research Institutions CA); response header X-HujiShnatonServer: Server 2.'
  x-provenance:
    method: derived
    generated: '2026-09-01'
    source:
    - https://shnaton.huji.ac.il/assets/index-DcMgIxCt.js
    - https://shnaton.huji.ac.il/api/health
    - https://shnaton.huji.ac.il/api/faculties
    - https://shnaton.huji.ac.il/api/courses/search-advanced
    note: Derived by API Evangelist from the catalog's own JavaScript client plus live probes of the production host. NOT published by the Hebrew University of Jerusalem.
servers:
- url: https://shnaton.huji.ac.il/api
  description: Production. Public and unauthenticated; verified live 2026-09-01.
tags:
- name: Syllabus
  description: Per-course syllabus documents.
paths:
  /syllabus:
    get:
      tags:
      - Syllabus
      operationId: getSyllabus
      summary: Get a course syllabus
      description: The syllabus document for a course in a given year — course name, department, semester, credit points, ECTS credits where recorded, and degree level. Verified 200, 1,756 bytes, for `courseCode=140713&year=2027` on 2026-09-01.
      parameters:
      - $ref: '#/components/parameters/CourseCodeQuery'
      - $ref: '#/components/parameters/YearRequired'
      responses:
        '200':
          description: Syllabus document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Syllabus'
components:
  parameters:
    YearRequired:
      name: year
      in: query
      required: true
      description: Academic year in Gregorian form, as returned by `/reference-data/active-years`.
      schema:
        type: integer
      example: 2027
    CourseCodeQuery:
      name: courseCode
      in: query
      required: true
      description: Registrar course code.
      schema:
        type: string
      example: '140713'
  schemas:
    Syllabus:
      type: object
      properties:
        courseCode:
          type: string
        year:
          type: integer
        courseName:
          $ref: '#/components/schemas/BilingualText'
        periodName:
          $ref: '#/components/schemas/BilingualText'
        department:
          $ref: '#/components/schemas/BilingualText'
        semester:
          type:
          - string
          - 'null'
        creditPoints:
          type:
          - string
          - 'null'
        ectsCredits:
          type:
          - string
          - number
          - 'null'
        degreeLevel:
          type:
          - string
          - 'null'
        academicYear:
          type:
          - string
          - integer
          - 'null'
      required:
      - courseCode
      - year
    BilingualText:
      type: object
      description: Every human-readable string in this API. Hebrew is the primary member; the English member is usually present but may be an empty string.
      properties:
        he:
          type: string
          description: Hebrew text.
        en:
          type: string
          description: English text.
      required:
      - he
