openapi: 3.2.0
info:
  title: Hebrew University of Jerusalem Shnaton Course Catalog…
  version: '2027'
  summary: Public, unauthenticated JSON API behind the Hebrew University of Jerusalem's Shnaton course catalog.
  description: The read API that serves shnaton.huji.ac.il, the Hebrew University of Jerusalem's official course catalog ("Shnaton" / שנתון).
  contact:
    name: Hebrew University of Jerusalem — Shnaton course catalog
    url: https://shnaton.huji.ac.il/
  termsOfService: https://en.huji.ac.il/en/accessibility-statement
  x-operator: institution
  x-operator-basis: 'shnaton.huji.ac.il CNAME -> orb-bif5.cc.huji.ac.il -> 128.139.7.32; RIPE inetnum 128.139.0.0/16 "ILAN", registrant ORG-IIIC1-RIPE (IUCC - Israel InterUniversity Computation Center), announced by AS378 MACHBA-AS; TLS subject O=The Hebrew University of Jerusalem, CN=*.huji.ac.il, issuer GEANT TLS RSA 1 (Hellenic Academic and Research Institutions CA); response header X-HujiShnatonServer: Server 2.'
  x-provenance:
    method: derived
    generated: '2026-09-01'
    source:
    - https://shnaton.huji.ac.il/assets/index-DcMgIxCt.js
    - https://shnaton.huji.ac.il/api/health
    - https://shnaton.huji.ac.il/api/faculties
    - https://shnaton.huji.ac.il/api/courses/search-advanced
    note: Derived by API Evangelist from the catalog's own JavaScript client plus live probes of the production host. NOT published by the Hebrew University of Jerusalem.
servers:
- url: https://shnaton.huji.ac.il/api
  description: Production. Public and unauthenticated; verified live 2026-09-01.
tags:
- name: Organization
  description: The university's academic structure — faculties, departments and degree programs.
paths:
  /faculties:
    get:
      tags:
      - Organization
      operationId: listFaculties
      summary: List faculties and schools
      description: Every faculty and school in the university, with its registrar code and bilingual name. Verified 200, 2,463 bytes, 2026-09-01.
      responses:
        '200':
          description: Faculty list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Faculty'
  /learning-programs:
    get:
      tags:
      - Organization
      operationId: listLearningPrograms
      summary: List degree programs
      description: Degree levels the catalog indexes courses by — Bachelor's, Master's and so on — each with a registrar `userCode`, a formal `name` and a `displayName`. Verified 200, 1,902 bytes, 2026-09-01.
      responses:
        '200':
          description: Degree program list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningProgram'
components:
  schemas:
    BilingualText:
      type: object
      description: Every human-readable string in this API. Hebrew is the primary member; the English member is usually present but may be an empty string.
      properties:
        he:
          type: string
          description: Hebrew text.
        en:
          type: string
          description: English text.
      required:
      - he
    Faculty:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
          description: Registrar faculty code, zero-padded.
        name:
          $ref: '#/components/schemas/BilingualText'
      required:
      - id
      - code
      - name
    LearningProgram:
      type: object
      properties:
        id:
          type: integer
        userCode:
          type: string
        name:
          $ref: '#/components/schemas/BilingualText'
        displayName:
          $ref: '#/components/schemas/BilingualText'
        sortOrder:
          type: integer
      required:
      - id
      - userCode
      - name
